<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXT</title>
</head>
<body>
    <form action="/analyze">
    <h1>Enter your text here to remove punctuations</h1>
    <textarea name="text" placeholder="Enter Your text" style="width: 1144px; height: 178px;"></textarea>
    <br>
    <input type="checkbox" id="punch" name="punch">
    <label for="punch" > Remove Punctuations</label>
    <br>
    <input type="checkbox" id="up" name="uppercase">
    <label for="up" > Upper Case</label>
    <br>
    <input type="checkbox" id="nw" name="newline">
    <label for="nw" > Remove Newline</label>
    <br>
    <input type="checkbox" id="ex" name="extra">
    <label for="ex" > extra space</label>
    <br>
    <input type="checkbox" id="c" name="counter">
    <label for="c" > counter</label>
    <br>
    <button type="submit">Analyze</button>
</form>
</body>
</html>